* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #FAF8F0;
}

.container {
  display: grid;
  
  height: 100vh;
}

button {
  border: none;
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  padding: 1rem;
}